<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <!-- 通过setter注入配置bean的属性 -->
   <bean id="helloWorld" class="org.czx.spring.ioc.HelloWorld">
       <property name="name" value="Spring"></property>
   </bean>
 </beans>